<%= form_with(model: power) do |form| %>
  <% if power.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(power.errors.count, "error") %> prohibited this power from being saved:</h2>

      <ul>
        <% power.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">電力量</th>
      <th scope="col">単価</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= form.number_field :e1 %></td>
      <td><%= form.number_field :p1 %></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%= form.number_field :e2 %></td>
      <td><%= form.number_field :p2 %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%= form.number_field :e3 %></td>
      <td><%= form.number_field :p3 %></td>
    </tr>
    <tr>
      <th scope="row">４</th>
      <td><%= form.number_field :e4 %></td>
      <td><%= form.number_field :p4 %></td>
    </tr>
   <tr>
      <th scope="row">5</th>
      <td><%= form.number_field :e5 %></td>
      <td><%= form.number_field :p5 %></td>
    </tr>
   <tr>
      <th scope="row">6</th>
      <td><%= form.number_field :e6 %></td>
      <td><%= form.number_field :p6 %></td>
    </tr>
   <tr>
      <th scope="row">7</th>
      <td><%= form.number_field :e7 %></td>
      <td><%= form.number_field :p7 %></td>
    </tr>
   <tr>
      <th scope="row">8</th>
      <td><%= form.number_field :e8 %></td>
      <td><%= form.number_field :p8 %></td>
    </tr>
   </tbody>
</table>



  <div>
    <%= form.submit %>
  </div>
<% end %>
