<div id="<%= dom_id power %>">
  <p>
    <strong>E1:</strong>
    <%= power.e1 %>
  </p>

  <p>
    <strong>E2:</strong>
    <%= power.e2 %>
  </p>

  <p>
    <strong>E3:</strong>
    <%= power.e3 %>
  </p>

  <p>
    <strong>E4:</strong>
    <%= power.e4 %>
  </p>

  <p>
    <strong>E5:</strong>
    <%= power.e5 %>
  </p>

  <p>
    <strong>E6:</strong>
    <%= power.e6 %>
  </p>

  <p>
    <strong>E7:</strong>
    <%= power.e7 %>
  </p>

  <p>
    <strong>E8:</strong>
    <%= power.e8 %>
  </p>

  <p>
    <strong>P1:</strong>
    <%= power.p1 %>
  </p>

  <p>
    <strong>P2:</strong>
    <%= power.p2 %>
  </p>

  <p>
    <strong>P3:</strong>
    <%= power.p3 %>
  </p>

  <p>
    <strong>P4:</strong>
    <%= power.p4 %>
  </p>

  <p>
    <strong>P5:</strong>
    <%= power.p5 %>
  </p>

  <p>
    <strong>P6:</strong>
    <%= power.p6 %>
  </p>

  <p>
    <strong>P7:</strong>
    <%= power.p7 %>
  </p>

  <p>
    <strong>P8:</strong>
    <%= power.p8 %>
  </p>

</div>
